.video-stream__wrapper {
	overflow: hidden;
}

.video-stream__wrapper--red {
	border: var(--border-width) solid var(--color-red);
}

.video-stream__wrapper--blue {
	border: var(--border-width) solid var(--color-blue);
}

.video-stream {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.video-stream--red {
	object-position: right center;
}

.video-stream--blue {
	object-position: left center;
}
